<h1>Persons</h1>

<p>This component demonstrates fetching data from the server.</p>

<a name="Add Person" class="btn btn-primary" role="button" [routerLink]='["/add-person"]'>Add Person</a>
<a name="Delete All" class ="btn btn-danger" role="button" (click)="DeleteAll()">Delete All</a>
<br>

<p *ngIf="!persons"><em>No persons available..</em></p>

<table class='table' *ngIf="persons">
  <thead>
    <tr>
      <th>Display Name</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of persons">
      <td>{{person.displayName}}</td>
      <td>{{person.firstName}}</td>
      <td>{{person.lastName}}</td>
    </tr>
  </tbody>
</table>